<!DOCTYPE html>
<html lang="en">
  <head>
    <meta (http-equiv="Content-Type" , content="text/html;charset=UTF-8" ) />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form - Freetuts.net</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
       .card(style = "margin-top: 5%;")
            h3.card-header Kết quả
            .card-body
                ul.list-group  
                    li.list-group-item Họ tên:  #{body.name}
                    li.list-group-item Tuổi:  #{body.age}
                    li.list-group-item Giới tính #{body.gender}
                    li.list-group-item Avatar 
                        img(style="width:150px; height:150px" src="./uploads/" + file.filename +"", alt=file.originalname)
    </div>
  </body>
</html>
